<!DOCTYPE html>
<head>
</head>

<body>
  <header id='main'>
  header goes here
  </header>
  <form method='post' action='/login'>
    <fieldset>
      <label for 'email' class='login'><span>Email</span><input type='email' id='email' name='email'><br><br>
        <label for 'password' class='login'><span>Password</span><input type='password' id='password' name='password'><br><br>
        <input type='submit' value='Login'>
    </fieldset>
    </form>
    <footer id='main'>footer</footer>
</body>
